* {
    font-family: 'Indie Flower', cursive;
  color: blue;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 40px;
;
  }
  
body {
  background-image: url("https://w0.peakpx.com/wallpaper/35/797/HD-wallpaper-space-cartoon-background-planets-creative-art-space-cartoon-space-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
}

button {
    padding: 5px 5px 5px 5px;
    font-size: 40px;
    border-radius: 2em;
}